<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jxe.dao.IFactoryDao" >
	
	<!-- 修理厂数据-->
	<select id="findpage" resultType="map">
		select id,
		name,
		phone,
		telephone,
		create_time,longitude,latitude,integral,address,introduce,discount,nature
		from Factory  
		<where>
		    <if test="longitude != null"> longitude = #{longitude} </if>
		     <if test="latitude != null">and latitude = #{latitude} </if>
		</where>
		LIMIT #{page},#{size}
	</select>
	
	<!-- 预约-->
	<insert id="saveOrderForm">
	insert into `Order_form` (factory_id,user_id,status,create_time) 
	VALUE(#{factoryId},#{userId},0,SYSDATE())
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer"> 
	      	SELECT LAST_INSERT_ID() as id
	     </selectKey>
	</insert>
	
	<!-- 修理厂登陆-->
	<select id="login" resultType="map">
		select id,
		name,
		phone,
		telephone,
		create_time,longitude,latitude,integral,address,introduce,discount,nature
		from Factory  
		<where>
		    phone=#{phone} and password=#{password}
		</where>
	</select>
	
	<!-- 订单信息 for 修理厂-->
	<select id="orderFactory" resultType="map">
		select o.id as id,
		u.id as userId,
		u.username as username,
		u.phone as phone,
		u.head as head,
		o.`status` as status,
		o.integral as integral,
		o.price as price
		from Order_form o LEFT JOIN `User` u on o.user_id=u.id 
		<where>
		    o.factory_id=#{id}
		</where>
	</select>
	
	<select id="orderforUser" resultType="map">
		select o.id as id,
		u.id as userId,
		u.username as username,
		u.phone as phone,
		u.head as head,
		o.`status` as status,
		o.integral as integral,
		o.price as price
		from Order_form o LEFT JOIN `User` u on o.user_id=u.id 
		<where>
		    o.user_id=#{userId}
		</where>
	</select>
	
	<!-- 修理厂详情-->
	<select id="detailed" resultType="map">
		select id,
		name,
		phone,
		telephone,
		create_time,longitude,latitude,integral,address,introduce,discount,nature
		from Factory  
		<where>
		    id=#{id}
		</where>
	</select>
	
	<!-- 修理厂附件-->
	<select id="factoryimg" resultType="map">
		select 
		path
		from Factory_img 
		<where>
		    factory_id=#{id}
		</where>
	</select>

</mapper>